<div class="memheader">
  <span>集運單管理</span>
  <div class="sub_menu">
    <div><a href="/member/shippingcus/t1/0" [ngClass]="{'active': this.type === 't1'}">未入庫</a></div>
    <div><a href="/member/shippingcus/t2/0" [ngClass]="{'active': this.type === 't2'}">已入庫</a></div>
    <div><a href="/member/shippingcus/t3/0" [ngClass]="{'active': this.type === 't3'}">待出貨</a></div>
    <div><a href="/member/shippingcus/t4/0" [ngClass]="{'active': this.type === 't4'}">已出貨</a></div>
    <div><a href="/member/shippingcus/t5/0" [ngClass]="{'active': this.type === 't5'}">已完成</a></div>
  </div>
</div>
