<div class="header">
  <span class="mem-icon"><i class="fas fa-file-alt"></i>集運單管理</span>
  <div class="sub_menu">
    <div><a href="/member/shippingcus/t1/0" [class.isactive]="this.type === 't1'">未入庫</a></div>
    <div><a href="/member/shippingcus/t2/0" [class.isactive]="this.type === 't2'">已入庫</a></div>
    <div><a href="/member/shippingcus/t3/0" [class.isactive]="this.type === 't3'">待出貨</a></div>
    <div><a href="/member/shippingcus/t4/0" [class.isactive]="this.type === 't4'">已出貨</a></div>
    <div><a href="/member/shippingcus/t5/0" [class.isactive]="this.type === 't5'">已完成</a></div>
  </div>
</div>
