<div class="register">
  <div class="reg-title">
    <div class="step">
      <ul class="steplist">
        <li>
          <span class="member-icon">
            <i class="fas fa-user-friends"></i>
            選擇會員
          </span>
          <div class="prograss"></div>
        </li>
        <li>
          <span class="member-icon">
            <i class="fas fa-pen-square"></i>
            填寫資料
          </span>
          <div class="prograss"></div>
        </li>
        <li>
          <span class="member-icon">
            <i class="fas fa-envelope"></i>
            驗證信箱
          </span>
          <div class="prograss"></div>
        </li>
        <li>
          <span class="member-icon">
            <i class="fas fa-check-circle"></i>
            註冊完成
          </span>
          <div class="prograss"></div>
        </li>
      </ul>
    </div>
    <div class="reg-contain">
      <div class="regform">
        <p>註冊成功！</p>
        <p>立即<a routerLink="/login">登入</a>，開始使用會員功能！</p>
      </div>
    </div>
  </div>
