<div class="shipping">
  <div class="shipping-contain">
    <div class="shippingform">
      <app-shipping-header [type]="this.shippingType"></app-shipping-header>
      <!-- content start -->
      <div class="main-card">
        <div class="card-header">
          <div class="sel">
            <span>集運站 <i class="fas fa-truck"></i></span>
            <select id="cateSel" (change)="cateChange($event.target.value)">
              <ng-container *ngFor="let cateitem of cateData">
                <option value="{{cateitem.stationcode}}" [selected]="cateitem.stationcode === this.cateID">
                  {{cateitem.stationname}}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="btn-right">
            <a (click)="doDelete()" *ngIf="this.shippingType === 't1'">刪除</a>
            <a click="doCombine()" *ngIf="this.shippingType === 't2'">申請集運</a>
            <a click="doCombine()" *ngIf="this.shippingType === 't3'">取消集運</a>
            <a click="doCombine()" *ngIf="this.shippingType === 't3'">付款</a>
          </div>
        </div>
        <div class="card-contain">
          <ng-container *ngIf="shippingType==='t1' || shippingType==='t2'; else shippingTable">
            <table class="shipping-table">
              <thead>
                <tr>
                  <th *ngFor="let titleItem of tableTitle let id = index" [ngClass]="{'text-center': id === 0}">
                    {{titleItem}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data let idx = index">
                  <td style="width: 5%;" class="text-center text-muted">
                    <label class="chkbox-container">
                      <input type="checkbox" name="Chk" id="chk{{idx}}"
                        (click)="SelChange($event.toElement.value, $event.toElement.checked)" value="{{item.id}}">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td style="width: 15%;"><label for="chk{{idx}}">{{item.transferno}}</label></td>
                  <td style="width: 10%;">{{item.status | shippstatus}}</td>
                  <td style="width: 20%;">{{item.credate}}</td>
                  <td style="width: 20%;">{{item.upddate}}</td>
                  <td style="width: 5%;">
                    <a routerLink="/member/shipping/edit/{{this.shippingType}}/{{this.cateID}}/{{item.id}}">
                      <span class="mem-icon">
                        <i class="fas fa-clipboard-list"></i>
                      </span>
                    </a>
                  </td>
                </tr>
                <!-- 資料筆數=0顯示 -->
                <tr *ngIf="data === null">
                  <td colspan="6"><span class="warn">尚無資料</span></td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-template #shippingTable>
            <table class="shipping-table">
              <thead>
                <tr>
                  <th *ngFor="let titleItem of tableTitle2 let id = index" [ngClass]="{'text-center': id === 0}">
                    {{titleItem}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data2 let idx = index">
                  <td style="width: 5%;" class="text-center text-muted">
                    <ng-container *ngIf="this.shippingType === 't3'">
                      <label class="chkbox-container">
                        <input type="checkbox" name="Chk" id="chk{{idx}}"
                          (click)="SelChange($event.toElement.value, $event.toElement.checked)" value="{{item.id}}">
                        <span class="checkmark"></span>
                      </label>
                    </ng-container>
                  </td>
                  <td style="width: 10%;"><label for="chk{{idx}}">{{item.shippingno}}</label></td>
                  <td style="width: 10%;">{{item.trackingno}}</td>
                  <td style="width: 10%;">{{item.status}}</td>
                  <td style="width: 10%;">{{item.paystatus}}</td>
                  <td style="width: 15%;">{{item.paydate}}</td>
                  <td style="width: 20%;">{{item.credate}}</td>
                  <td style="width: 20%;">{{item.exportdate}}</td>
                  <td style="width: 5%;">
                    <a routerLink="/member/shipping/edit/{{this.shippingType}}/{{this.cateID}}/{{item.id}}">
                      <span class="mem-icon">
                        <i class="fas fa-clipboard-list"></i>
                      </span>
                    </a>
                  </td>
                </tr>
                <!-- 資料筆數=0顯示 -->
                <tr *ngIf="data2 === null">
                  <td colspan="9"><span class="warn">尚無資料</span></td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
        <!--pagination section start-->
        <div class="card-footer">
          <app-pagination [currentPage]="this.currentpage" [preApper]="this.commonService.preApper"
            [nextApper]="this.commonService.nextApper" [pageNum]="this.commonService.pageNum"
            (pageChanged)="changeData($event)"></app-pagination>
        </div>
        <!--pagination section end-->
      </div>
      <!-- content end -->
    </div>
  </div>
</div>
