<!--Top Section-->
<div>
  <div>
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon"><i class="pe-7s-file"></i></div>
          <div>廠商集運單管理</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Search Section -->
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <form [formGroup]="srhForm">
        <div class="card-body">
          <div class="form-inline">
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="scompany" class="mr-sm-2">廠商</label>
              <input type="text" id="scompany" formControlName="scompany" class="form-control">
            </div>
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="sshippingno" class="mr-sm-2">集運單號</label>
              <input type="text" id="sshippingno" formControlName="sshippingno" class="form-control">
            </div>
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="smawbno" class="mr-sm-2">主單號</label>
              <input type="text" id="smawbno" formControlName="smawbno" class="form-control">
            </div>
            <!--
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="sacccode" class="mr-sm-2">會員帳號</label>
              <input type="text" id="sacccode" formControlName="sacccode" class="form-control">
            </div>
            -->
          </div>
        </div>
        <div class="card-footer">
          <div>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="searchData()">查詢</button>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="resetData()">清除查詢</button>
          </div>
        </div>
      </form>

      <div class="card-body">
        <div class="form-inline">
          <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
            <input type="radio" name="files" id="chkfile1" class="form-control">
            <label for="chkfile1" class="mr-sm-2">已消倉表</label>
            <input type="radio" name="files" id="chkfile2" class="form-control">
            <label for="chkfile2" class="mr-sm-2">材積與實重表</label>
            <input type="radio" name="files" id="chkfile3" class="form-control">
            <label for="chkfile3" class="mr-sm-2">MAWB</label>
            <input type="file" id="filesupload" #filesupload multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,application/pdf"
              (change)="fileChange($event)">
            <div>
              <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="doImport()">匯入/上傳</button>
            </div>
          </div>
        </div>
        <div class="form-inline">
          <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
            <label for="selexbr" class="mr-sm-2">出口報關行</label>
            <select id="selexbr">
              <option value="0">請選擇</option>
              <option *ngFor="let exitem of exBroker" [value]="exitem.userid">{{exitem.companyname}}</option>
            </select>
            <label for="selimbr" class="mr-sm-2">進口報關行</label>
            <select id="selimbr">
              <option value="0">請選擇</option>
              <option *ngFor="let imitem of imBroker" [value]="imitem.userid">{{imitem.companyname}}</option>
            </select>
            <div>
              <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="doSeprate()">分配</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TableList Section-->
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header-tab card-header">列表
        <ul class="nav">
          <li class="nav-item">
            <a id="tab1" class="nav-link" [class.active]="status === 0" (click)="tabSwitch($event.toElement.id)">未入庫</a>
          </li>
          <li class="nav-item">
            <a id="tab2" class="nav-link" [class.active]="status === 1" (click)="tabSwitch($event.toElement.id)">已入庫</a>
          </li>
          <li class="nav-item">
            <a id="tab3" class="nav-link" [class.active]="status === 2" (click)="tabSwitch($event.toElement.id)">待出貨</a>
          </li>
          <li class="nav-item">
            <a id="tab4" class="nav-link" [class.active]="status === 3" (click)="tabSwitch($event.toElement.id)">已出貨</a>
          </li>
          <li class="nav-item">
            <a id="tab5" class="nav-link" [class.active]="status === 4" (click)="tabSwitch($event.toElement.id)">已完成</a>
          </li>
        </ul>
        <div class="btn-actions-pane-right">
          <div class="btn-group-sm btn-group" role="group">
            <button *ngIf="status === 0" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(1)">已入庫</button>
            <button *ngIf="status === 1" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(2)">待出貨</button>
            <button *ngIf="status === 2" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(3)">已出貨</button>
            <button *ngIf="status === 3" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(4)">已完成</button>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="doDelete()">刪除</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th *ngFor="let titleItem of tableTitle let id = index" [ngClass]="{'text-center': id === 0}">
                {{titleItem}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data let idx = index">
              <ng-container>
                <td class="text-center text-muted">
                  <label class="chkbox-container">
                    <input type="checkbox" name="Chk" id="chk{{idx}}"
                      (click)="SelChange($event.toElement.value, $event.toElement.checked)" value="{{item.id}}">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td><label for="chk{{idx}}">{{item.shippingno}}</label></td>
                <td>{{item.mawbno}}</td>
                <td>{{item.companyname}}</td>
                <td>{{item.exbroker}}</td>
                <td>{{item.imbroker}}</td>
                <td>{{item.credate}}</td>
                <td>{{item.upddate}}</td>
                <td>
                  <a *ngIf="item.shippingfilE1 != ''" href="../{{item.shippingfilE1}}" target="_blank" title="原檔">
                    <span class="symbol-edit">
                      <i class="fas fa-file-alt"></i>
                    </span>
                  </a>
                  <a *ngIf="item.shippingfilE2 != ''" href="../{{item.shippingfilE2}}" target="_blank" title="台空">
                    <span class="symbol-edit">
                      <i class="far fa-file-alt"></i>
                    </span>
                  </a>
                </td>
                <td>
                  <a *ngIf="item.brokerfilE1 != ''" href="../{{item.brokerfilE1}}" target="_blank" title="原檔">
                    <span class="symbol-edit">
                      <i class="fas fa-file-alt"></i>
                    </span>
                  </a>
                  <a *ngIf="item.brokerfilE2 != ''" href="../{{item.brokerfilE2}}" target="_blank" title="台空">
                    <span class="symbol-edit">
                      <i class="far fa-file-alt"></i>
                    </span>
                  </a>
                </td>
                <td><a *ngIf="item.mawbfile != ''" href="../{{item.mawbfile}}" target="_blank" title="MAWB">
                    <span class="symbol-edit">
                      <i class="far fa-file-alt"></i>
                    </span>
                  </a></td>
                <td>
                  <a routerLink="/shippingcus/edit/{{item.id}}">
                    <span class="symbol-edit">
                      <i class="pe-7s-note2"></i>
                    </span>
                  </a>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <!--pagination section start-->
      <div class="d-block text-center card-footer">
        <app-pagination [currentPage]="this.currentpage" [preApper]="this.commonService.preApper"
          [nextApper]="this.commonService.nextApper" [pageNum]="this.commonService.pageNum"
          (pageChanged)="changeData($event)"></app-pagination>
      </div>
      <!--pagination section end-->
    </div>
  </div>
</div>
