<!--Top Section-->
<div>
  <div>
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon"><i class="pe-7s-file"></i></div>
          <div>廠商集運單管理</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Search Section -->
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <form [formGroup]="srhForm">
        <div class="card-body">
          <div class="form-inline">
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="sstationcode" class="mr-sm-2">集運站</label>
              <select id="sstationcode" class="mb-2 mr-2 dropdown-toggle btn btn-outline-secondary"
                formControlName="sstationcode">
                <option value="ALL">全部</option>
                <option [value]="sitem.stationcode" *ngFor="let sitem of stationData">{{sitem.stationname}}</option>
              </select>
            </div>
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="scompany" class="mr-sm-2">廠商</label>
              <input type="text" id="scompany" formControlName="scompany" class="form-control">
            </div>
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="sshippingno" class="mr-sm-2">集運單號</label>
              <input type="text" id="sshippingno" formControlName="sshippingno" class="form-control">
            </div>
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="strackingno" class="mr-sm-2">追蹤號碼</label>
              <input type="text" id="strackingno" formControlName="strackingno" class="form-control">
            </div>
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="stransferno" class="mr-sm-2">提單號碼</label>
              <input type="text" id="stransferno" formControlName="stransferno" class="form-control">
            </div>
            <!--
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="sacccode" class="mr-sm-2">會員帳號</label>
              <input type="text" id="sacccode" formControlName="sacccode" class="form-control">
            </div>
            -->
          </div>
        </div>
        <div class="card-footer">
          <div>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="searchData()">查詢</button>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="resetData()">清除查詢</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--TableList Section-->
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header-tab card-header">列表
        <ul class="nav">
          <li class="nav-item">
            <a id="tab1" class="nav-link" [class.active]="status === 0" (click)="tabSwitch($event.toElement.id)">未入庫</a>
          </li>
          <li class="nav-item">
            <a id="tab2" class="nav-link" [class.active]="status === 1" (click)="tabSwitch($event.toElement.id)">已入庫</a>
          </li>
          <li class="nav-item">
            <a id="tab3" class="nav-link" [class.active]="status === 2" (click)="tabSwitch($event.toElement.id)">待出貨</a>
          </li>
          <li class="nav-item">
            <a id="tab4" class="nav-link" [class.active]="status === 3" (click)="tabSwitch($event.toElement.id)">已出貨</a>
          </li>
          <li class="nav-item">
            <a id="tab5" class="nav-link" [class.active]="status === 4" (click)="tabSwitch($event.toElement.id)">已完成</a>
          </li>
        </ul>
        <div class="btn-actions-pane-right">
          <div class="btn-group-sm btn-group" role="group">
            <button *ngIf="status === 0" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(1)">已入庫</button>
            <button *ngIf="status === 1" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(2)">待出貨</button>
            <button *ngIf="status === 2" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(3)">已出貨</button>
            <button *ngIf="status === 3" class="mb-2 mr-2 btn-hover-shine btn btn-info"
              (click)="chgStatus(4)">已完成</button>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="doDelete()">刪除</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th *ngFor="let titleItem of tableTitle let id = index" [ngClass]="{'text-center': id === 0}">
                {{titleItem}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data let idx = index">
              <ng-container>
                <td class="text-center text-muted">
                  <label class="chkbox-container">
                    <input type="checkbox" name="Chk" id="chk{{idx}}"
                      (click)="SelChange($event.toElement.value, $event.toElement.checked)" value="{{item.id}}">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>{{item.stationname}}</td>
                <td>{{item.shippingno}}</td>
                <td>{{item.trackingno}}</td>
                <td>{{item.transferno}}</td>
                <td>{{item.companyname}}</td>
                <td>{{item.accountcode}}</td>
                <td>{{item.credate}}</td>
                <td>{{item.upddate}}</td>
                <td>{{item.status | shippstatus}}</td>
                <td>
                  <a routerLink="/shippingcus/edit/{{item.id}}">
                    <span class="symbol-edit">
                      <i class="pe-7s-note2"></i>
                    </span>
                  </a>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <!--pagination section start-->
      <div class="d-block text-center card-footer">
        <app-pagination [currentPage]="this.currentpage" [preApper]="this.commonService.preApper"
          [nextApper]="this.commonService.nextApper" [pageNum]="this.commonService.pageNum"
          (pageChanged)="changeData($event)"></app-pagination>
      </div>
      <!--pagination section end-->
    </div>
  </div>
</div>
