<div class="app-sidebar">
  <!-- Logo section -->
  <div class="header">
    <div class="logo"></div>
  </div>
  <!-- Menu section -->
  <div class="contain">
    <div class="nav">
      <ul>
        <ng-container *ngFor="let item of data">
          <li *ngIf="item.menuurl.indexOf('e-commerce.t3ex-tec.com') < 0"><a
              [routerLink]="item.menuurl">{{item.menuname}}</a></li>
          <li *ngIf="item.menuurl.indexOf('e-commerce.t3ex-tec.com') > 0"><a [href]="item.menuurl"
              target="_blank">{{item.menuname}}</a></li>
        </ng-container>
        <li><a (click)="doLogout()">登出</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebar-bg" style="background-image: url('/res/assets/util/cusloginbg.jpg');"></div>
</div>
