<!--Top Section-->
<div>
  <div>
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon"><i class="far fa-id-card"></i></div>
          <div>廠商管理 - 編輯</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Info Section-->
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <form [formGroup]="dataForm" (ngSubmit)="saveData(dataForm.value)">
          <input type="hidden" id="userid" formControlName="userid">
          <div class="form-group">
            <label for="usercode">用戶帳號</label>
            <input type="text" id="usercode" class="form-control middle" formControlName="usercode">
          </div>
          <div class="form-group">
            <label for="companyname">公司名稱</label>
            <input type="text" id="companyname" class="form-control middle" formControlName="companyname">
          </div>
          <div class="form-group">
            <label for="rateid">統一編號</label>
            <input type="text" id="rateid" class="form-control middle" formControlName="rateid">
          </div>
          <div class="form-group">
            <label for="username">聯繫人</label>
            <input type="text" id="username" class="form-control middle" formControlName="username">
          </div>
          <div class="form-group">
            <label for="userdesc">備註</label>
            <input type="text" id="userdesc" class="form-control large" formControlName="userdesc">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control middle" formControlName="email">
          </div>
          <div class="form-group">
            <label for="phone">連絡電話</label>
            <input type="text" id="phone" class="form-control middle" formControlName="phone">
          </div>
          <div class="form-group">
            <label for="mobile">手機號碼</label>
            <input type="text" id="mobile" class="form-control middle" formControlName="mobile">
          </div>
          <div class="form-group">
            <label for="address">地址</label>
            <input type="text" id="address" class="form-control large" formControlName="address">
          </div>
          <div class="form-group">
            <label for="isenable">啟用/停用</label>
            <select id="isenable" class="mb-2 form-control middle" formControlName="isenable">
              <option value="1">啟用</option>
              <option value="0">停用</option>
            </select>
          </div>
          <ng-container *ngIf="dataForm.value.userid !== 0">
            <div class="form-group">
              <label for>登入次數</label>
              <p>{{dataForm.value.logincount}}</p>
            </div>
            <div class="form-group">
              <label for>最後登入時間</label>
              <p>{{dataForm.value.lastlogindate}}</p>
            </div>
            <div class="form-group">
              <label for>註冊時間</label>
              <p>{{dataForm.value.credate}}</p>
            </div>
            <div class="form-group">
              <label for>建立者</label>
              <p>{{dataForm.value.creby}}</p>
            </div>
            <div class="form-group">
              <label for>更新時間</label>
              <p>{{dataForm.value.upddate}}</p>
            </div>
            <div class="form-group">
              <label for>更新者</label>
              <p>{{dataForm.value.updby}}</p>
            </div>
          </ng-container>
          <div class="btn-two">
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" type="submit">保存</button>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" routerLink="/company">回列表</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
