/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========= Global settings  ========*/
*{
  margin: 0;
  padding: 0;
  color: #273152;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, '微軟正黑體';
 }

*,::after,::before{
  box-sizing: border-box;
}

a {
text-decoration: none;
}



/*========= app-component settings  ========*/
.logo-src{
  display: inline-block;
  height: 100px;
  width: 97px;
  background-image: url(/res/assets/util/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-header{
  z-index: 10;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%!important;
  background-color: #fff;
}

.main-header::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1.875rem 0 rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-header--is-window-scrolled:after{
  visibility: visible;
  opacity: 1;
}

.single-transition{
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar{
  font-weight: 600;
  padding: 0!important;
  display: block!important;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#main{
  overflow: hidden;
  padding-top: 3.75rem;
}

.container{
  width: 100%;
  margin: auto;
  margin-top: 150px;
}

/*========= nav-menu settings  ========*/
.w-100{
  display: flex;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 15px;
}

.nav li{
  padding-left: 20px;
  padding-right: 20px;
}

.nav li a:hover{
  background-color: aquamarine;

}

.subnav{
  display: none;
}


/*========= login settings =========*/

/*========= register-p1 settings =========*/

.reg-title{
  display: block;
}
.steplist{
  display: flex;
}

.steplist li{
  padding: 10px;
}

.steplist li span{
  color: #fff;
  background-color: #007C36;
  font-size: 14px;
  padding: 10px;
}

.steplist li .dis{
  color: #666666;
  background-color: #DDDDDD;
}

.reg-contain{
  margin-top: 20px;
  display: flex;
}

.col{
  width: 70%;
  height: 326px;
  background-color: #f9f9f9;
  margin-right: 20px;
  padding:20px;
}

.col h3{
  display: block;
  color: #007C36;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.col span{
  display: block;
  color: #777;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.col a{
  display: inline-block;
  color: #f9f9f9;
  background-color: #007C36;
  padding: 10px;
}

.col a:hover{
  background-color: #138844;
}

/*========= register-p2 settings =========*/
.regform .form-control{
  padding: 15px;
  background-color: #f9f9f9;
}

.form-control label{
  display: block;
  margin-bottom: 10px;
}

.form-control input{
  display: block;
  margin-bottom: 10px;
  width: 95%;
  height: 35px;
}

.form-control input[type="checkbox"]{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.form-control .chk{
  display: inline-block;
}

.form-control p{
  display: block;
  font-size: 14px;
  color:#999;
}

/*========= profile settings =========*/
.memheader{
  margin-bottom: 10px;
  padding: 10px;
}
.memheader span{
  font-size: 20px;
  font-weight: 700;
}

/*========= station settings =========*/
.profile-contain{
  width: 150%;
}

.subline{
  margin-bottom: 15px;
}

.box{
  display: inline-block;
  margin-bottom: 15px;
}

.box label{
  padding: 5px;
  color: #fff;
  background-color: #425080;
}

.box span{
  padding: 5px;
  background-color: rgb(243, 242, 242);
}

/*========= entrace settings =========*/
.symbol{
  font-size: 15px;
}

.symbol p{
  display: inline-block;
}

/*========= shipping settings =========*/
.sub_menu {
  margin-top: 10px;
  display: flex;
}

.sub_menu div a{
  padding: 10px;
}


/*========= different screens settings  ========*/
@media (min-width: 1200px){
  .main-header{
    padding: 3rem;
  }
  #main{
    padding-top: 9.5rem;
  }
  .container{
    max-width: 1140px;
  }
}

@media (min-width: 992px){
  .main-header{
    padding: 2.4375rem 2.25rem;
  }
  #main{
    padding-top: 8.375rem;
  }
  .container{
    max-width: 960px;
  }
}

@media (min-width: 768px){
  .main-header{
    padding: 1.875rem 1.5rem;
  }
  #main{
    padding-top: 6.25rem;
  }
  .container{
    max-width: 720px;
  }
}

@media (min-width: 572px){
  .main-header{
    padding: 1.3125rem 0.75rem;
  }
  #main{
    padding-top: 5rem;
  }
  .container{
    max-width: 540px;
  }
}


