<div class="memprofile">
  <div class="profile-contain">
    <app-shippingcus-header [type]="this.shippingType"></app-shippingcus-header>
    <div class="regform">
      <!-- content start -->
      <div>
        <div>
          <div>
            <label>快遞單號</label>
            <span>{{data.trasferno}}</span>
          </div>
          <div>
            <label>所屬集運站</label>
            <span>{{data.stationname}}</span>
          </div>
          <div>
            <label>快遞公司</label>
            <span>{{data.trasfercompany}}</span>
          </div>
          <div>
            <label>包裹體積(長寬高)</label>
            <span
              *ngIf="data.plength!=='' && data.pwidth!=='' && data.pheight!==''">{{data.plength+'X'+data.pwidth+'X'+data.pheight}}</span>
          </div>
          <div>
            <label>包裹總重量</label>
            <span>{{data.pweight}}</span>
          </div>
        </div>
        <table>
          <tr>
            <th>商品名稱</th>
            <th>數量</th>
            <th>價值</th>
          </tr>
          <tr *ngFor="let subitem of subdata">
            <td>{{subitem.product}}</td>
            <td>{{subitem.quantity}}</td>
            <td>{{subitem.unitprice}}</td>
          </tr>
        </table>
      </div>
      <!-- content end -->
      <a routerLink="/member/shipping/{{this.shippingType}}/{{this.cateID}}">回列表</a>
    </div>
  </div>
</div>
