<div class="div-contain">
  <div class="dataform">
    <form class="form-contain" [formGroup]="dataForm">
      <div class="header-title">
        <span class="mem-icon"><i class="far fa-question-circle"></i>忘記密碼</span>
      </div>
      <!-- Account -->
      <div class="form-control">
        <div class="title"><label for="idcode">身分證字號或統一編號</label></div>
        <div class="contant">
          <input type="text" id="idcode" (keyup.enter)="onSubmit()" [ngClass]="{'is-invalid': isErr}"
            formControlName="idcode">
          <span class="outline"></span>
        </div>
      </div>
      <!-- Password -->
      <div class="form-control">
        <div class="title"><label for="email">E-Mail</label></div>
        <div class="contant">
          <input type="text" id="email" (keyup.enter)="onSubmit()" [ngClass]="{'is-invalid': isErr}"
            formControlName="email">
          <span class="outline"></span>
        </div>
      </div>
      <p>請輸入註冊時的身分證字號或公司統一編號與Email，系統將發送密碼到您的信箱！</p>
      <!-- Sign in button -->
      <div class="btn-two">
        <a (click)="onSubmit(this.dataForm.value)">送出</a>
        <a (click)="Clear()">清除</a>
      </div>
    </form>
  </div>
</div>
