<div class="entrust">
  <div class="warn-section">
    <div class="inner-border">
      <div class="warn-item">
        <div class="warn-icon"></div>
        <p>匯入前請先下載<a href="/res/assets/doc/sample.xlsx" target="_blank">匯入用Excel檔</a>，並確實填寫資料！</p>
      </div>
      <div class="warn-item">
        <div class="warn-icon"></div>
        <p>匯入成功後，請至<i>集運單管理</i>查看！</p>
      </div>
      <div class="warn-item">
        <div class="warn-icon"></div>
        <p>若主單號已匯入過，則會<i class="required">直接覆蓋掉原本匯入的資料！</i></p>
      </div>
      <div class="warn-item">
        <div class="warn-icon"></div>
        <p>若匯入資料量龐大，請耐心等候訊息結果，<i class="required">請勿在未跳出訊息時，關閉或離開介面！</i></p>
      </div>
    </div>
  </div>
  <div class="entrust-contain">
    <div class="row">
      <label for="filesupload" class="custom-file-upload">
        <img width="16px" height="16px" src="/res/assets/util/upload-icon.svg">
      </label>
      <input type="file" id="filesupload" #filesupload accept=".xlsx,.xls" (change)="fileChange($event)">
    </div>
    <div class="btn">
      <a (click)='saveData()'>匯入</a>
    </div>
    <div id="process-msg"></div>
  </div>
</div>
