<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TECTRANSITDB" providerName="SqlServer" connectionString="Data Source=SiaWu-NB;Initial Catalog=TECTRANSITDB;Integrated Security=True" />
    <add name="TECTRANSITDB1" providerName="SqlServer" connectionString="Data Source=127.0.0.1;Initial Catalog=TECTRANSITDB;Persist Security Info=True;User ID=EDIUser;Password=1qaz2WSX" />
  </connectionStrings>
</configuration>