.member-icon, .member-icon i{
  font-size: 16px;
}

.dis .member-icon, .dis .member-icon i{
  color: #aaa;
}

.steplist{
  text-align: center;
}

.steplist li{
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.steplist li{
  padding: 10px;
  margin-right: 5px;
}

.prograss{
  width: 100px;
  height: 5px;
  background-color: rgb(31, 134, 48);
  border-radius: 10px;
  margin-top: 5px;
}

.steplist .dis .prograss{
  background-color: #E4E7EB;
}

.reg-contain{
  text-align: center;
}

.reg-contain .col {
  display: inline-block;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 0 1.875rem 0 rgba(0,0,0,.1);
}

.memtype-icon{
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.memtype-icon img{
  width: 26px;
  height: 26px
}

.col span{
  display: block;
  margin-bottom: 50px;
}

.col span > p{
  margin-bottom: 10px;
}

.btn-join{
  width: 270px;
  height: 40px;
  padding: 10px;
  margin-left: 5px;
  color: #fff;
  background-color: rgb(45, 175, 125);
  border-radius: 2px;
  cursor: pointer;
  transition: all .4s 0s ease;
  margin-bottom: 40px;
}

.btn-join:hover{
  background-color: rgb(38, 136, 98);
}
