<div class="register">
  <div class="reg-title">
    <div class="step">
      <ul class="steplist">
        <li>
          <i></i>
          <span>會員種類</span>
        </li>
        <li>
          <i></i>
          <span class="dis">填寫資料</span>
        </li>
        <li>
          <i></i>
          <span class="dis">驗證信箱</span>
        </li>
        <li>
          <i></i>
          <span class="dis">註冊完成</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="reg-contain">
    <div class="col">
      <h3>個人會員</h3>
      <span>若您不是公司行號、非營利事業組織, 請立即申請成為[個人會員]，並享更多會員專屬優惠 !</span>
      <a routerLink="/regmem">加入個人會員</a>
    </div>
    <div class="col">
      <h3>廠商</h3>
      <span>凡公司行號、營利事業組織皆可申請成為[商業會員]，並享有商業用途之報關服務!</span>
      <a routerLink="/regcus">加入廠商</a>
    </div>
  </div>
</div>
