<!--Top Section-->
<div>
  <div>
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon"><i class="fas fa-users"></i></div>
          <div>權限組管理</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TableList Section-->
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header">權限列表
        <div class="btn-actions-pane-right">
          <div class="btn-group-sm btn-group" role="group">
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" routerLink="/roles/edit/0">新增</button>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="doIsenable(data.length)">停用</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th *ngFor="let titleItem of tableTitle let id = index" [ngClass]="{'text-center': id === 0}">
                {{titleItem}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data let idx = index">
              <td class="text-center text-muted">{{idx+1}}</td>
              <td>{{item.rolecode}}</td>
              <td>{{item.rolename}}</td>
              <td>{{item.roledesc}}</td>
              <td>{{item.credate}}</td>
              <td>{{item.creby}}</td>
              <td>{{item.upddate}}</td>
              <td>{{item.updby}}</td>
              <td class="text-center text-muted">
                <label class="chkbox-container">
                <input type="checkbox" name="activeChk" id="chk{{idx}}" (click)="activeSelChange($event.toElement.value, $event.toElement.checked)" [checked]="item.isenable === '0'" [disabled]="item.roleid === 1"
                    value="{{item.roleid}}">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <a routerLink="/roles/edit/{{item.roleid}}" *ngIf="item.roleid > 1; else editClose">
                  <span class="symbol-edit">
                    <i class="pe-7s-note2"></i>
                  </span>
                </a>
                <ng-template #editClose>
                    <span class="symbol-edit">
                        <i class="pe-7s-close"></i>
                      </span>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--pagination section start-->
      <div class="d-block text-center card-footer">
        <app-pagination (pageChanged)="changeData($event)"></app-pagination>
      </div>
      <!--pagination section end-->
    </div>
  </div>
</div>
