<!--Top Section-->
<div>
  <div>
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon"><i class="fas fa-users"></i></div>
          <div>權限組管理</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TableList Section-->
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header">權限列表
        <div class="btn-actions-pane-right">
          <div class="btn-group-sm btn-group" role="group">
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info">新增</button>
            <button class="mb-2 mr-2 btn-hover-shine btn btn-info">停用</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>代碼</th>
              <th>名稱</th>
              <th>敘述</th>
              <th>建立時間</th>
              <th>建立者</th>
              <th>更新時間</th>
              <th>更新者</th>
              <th>停用</th>
              <th>編輯</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data let idx = index">
              <td class="text-center text-muted">{{idx+1}}</td>
              <td>{{item.rolecode}}</td>
              <td>{{item.rolename}}</td>
              <td>{{item.roledesc}}</td>
              <td>{{item.credate}}</td>
              <td>{{item.creby}}</td>
              <td>{{item.upddate}}</td>
              <td>{{item.updby}}</td>
              <td class="text-center text-muted"><input type="checkbox" disabled="disabled"></td>
              <td><i class="pe-7s-close"></i></td>
              <!--<td><a routerLink="/role_edit"><i class="pe-7s-note2"></i></a></td>-->
            </tr>
          </tbody>
        </table>
      </div>
      <!--pagination section start-->
      <div class="d-block text-center card-footer">
        <app-pagination (pageChanged)="changeData($event)"></app-pagination>
      </div>
      <!--pagination section end-->
    </div>
  </div>
</div>
