<app-banner></app-banner>
<div class="step-section">
</div>
<div class="news-section">
  <div class="news-container">
    <div class="news-header">
      <div class="icon"></div>
      <span class="title">最新消息</span>
      <div class="line"></div>
    </div>
    <div class="news-contain" *ngFor="let item of newsData let i = index">
      <ng-container *ngIf="i < 6">
        <div class="row">
          <div class="date">
            <span class="year">{{item.upddate.split('-')[0]}}</span>
            <span class="datetime">{{item.upddate.split('-')[1]}}.{{item.upddate.split('-')[2]}}</span>
          </div>
          <a routerLink="/news/detail/{{item.newsid}}">{{item.title}}</a>
        </div>
      </ng-container>
    <div class="btn">
      <a routerLink="/news">更多消息</a>
    </div>
  </div>
</div>
