.shipping .shipping-contain {
  width: 850px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, .1);
  margin: 0 auto;
}

.shippingform {
  position: relative;
  width: 100%;
}

.main-card {
  margin-top: 70px;
}

.main-card .card-header {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.card-header .row {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 10px;
}

.card-header .row .srhlist {
  display: flex;
}

.card-header .row .srhlist .sel {
  padding-left: 10px;
}

.card-header .row .srhlist .sel span {
  font-size: 14px;
  padding-right: 10px;
}

.card-header .row .srhlist .sel select {
  width: 150px;
  height: 20px;
  border: 0;
  outline: 0;
  border-bottom: 1px dashed #aaa;
}

.card-header .row .srhlist .form-input label {
  font-size: 14px;
  padding-right: 10px;
}

.card-header .row .srhlist .form-input input {
  width: 120px;
  border: 0;
  outline: 0;
  border-bottom: 1px dashed #aaa;
}

.btn-right a {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #3f4e81;
  color: #eee;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
  margin-left: 5px;
}

.btn-right a:hover {
  background-color: #273152;
}

.card-contain {
  margin-top: 10px;
  margin-bottom: 20px;
}

.shipping-table {
  width: 100%;
}

.shipping-table thead tr th {
  width: 10%;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(221, 220, 220);
  border-bottom: 2px solid rgb(221, 220, 220);
}

.shipping-table tbody tr td {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid rgb(221, 220, 220);
  text-align: center;
}

.shipping-table tbody tr td label {
  cursor: pointer;
}

.shipping-table tbody tr:nth-child(even) {
  background-color: rgb(248, 247, 247);
}

.card-footer {
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
}

.warn {
  font-weight: 600;
  color: #cf3b3b;
  letter-spacing: 2px;
}
