.card-header-vendor {
  position: relative;
  width: 100%;
}

.row-column {
  display: flex;
  margin-left: 10px;
}

.header-row{
  display: flex;
  flex-wrap: wrap;
}
.header-row label{
  width: 100%;
}


