.pagelist_btn {
  border-radius: 3px;
  float: left;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 3px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
}

.pagelist_btn:hover{
  background-color: #eee;
  border-color: #ddd;
  color: #3f4e81;
}

.pagelist_btn.isactive, .pagelist_btn.isactive:hover{
  background: #3f4e81;
  color: #FFF;
  border-color: #3f4e81;
}
