<div class="memprofile">
  <div class="profile-contain">
    <div class="memheader">
      <span>集運單管理</span>
      <div class="sub_menu">
        <div><a href="/member/shippingcus/t1/0" [ngClass]="{'active': this.shippingType === 't1'}">未入庫</a></div>
        <div><a href="/member/shippingcus/t2/0" [ngClass]="{'active': this.shippingType === 't2'}">已入庫</a></div>
        <div><a href="/member/shippingcus/t3/0" [ngClass]="{'active': this.shippingType === 't3'}">待出貨</a></div>
        <div><a href="/member/shippingcus/t4/0" [ngClass]="{'active': this.shippingType === 't4'}">已出貨</a></div>
        <div><a href="/member/shippingcus/t5/0" [ngClass]="{'active': this.shippingType === 't5'}">已完成</a></div>
      </div>
    </div>
    <div class="regform">
      <!-- content start -->
      <div class="row">
        <div class="col-md-12">
          <div class="main-card mb-3 card">
            <div class="card-header">集運站：
              <select id="cateSel" class="mb-2 form-control middle" (change)="cateChange($event.target.value)">
                <ng-container *ngFor="let cateitem of cateData">
                  <option value="{{cateitem.stationcode}}" [selected]="cateitem.stationcode === this.cateID">
                    {{cateitem.stationname}}
                  </option>
                </ng-container>
              </select>
              <div class="btn-actions-pane-right">
                <div class="btn-group-sm btn-group" role="group">
                  <ng-container *ngIf="this.shippingType === 't1'">
                    <button class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="doDelete()">刪除</button>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                  <tr>
                    <th *ngFor="let titleItem of tableTitle let id = index" [ngClass]="{'text-center': id === 0}">
                      {{titleItem}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data let idx = index">
                    <td class="text-center text-muted">
                      <label class="chkbox-container">
                        <input type="checkbox" name="Chk" id="chk{{idx}}"
                          (click)="SelChange($event.toElement.value, $event.toElement.checked)"
                          value="{{item.id}}">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td><label for="chk{{idx}}">{{item.trasferno}}</label></td>
                    <td>{{item.status}}</td>
                    <td>{{item.credate}}</td>
                    <td>{{item.upddate}}</td>
                    <td>
                      <a routerLink="/member/shipping/edit/{{this.shippingType}}/{{this.cateID}}/{{item.id}}">
                        <span class="symbol">
                          <i class="fas fa-file-alt"></i>
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--pagination section start-->
            <div class="d-block text-center card-footer">
              <app-pagination [currentPage]="this.currentpage" [preApper]="this.commonService.preApper"
                [nextApper]="this.commonService.nextApper" [pageNum]="this.commonService.pageNum"
                (pageChanged)="changeData($event)"></app-pagination>
            </div>
            <!--pagination section end-->
          </div>
        </div>
      </div>
      <!-- content end -->
    </div>
  </div>
</div>
