<div class="profile">
  <div class="profile-contain">
    <form class="profileform" [formGroup]="memForm">
      <div class="header">
        <span class="mem-icon"><i class="fas fa-user-alt"></i>會員主頁</span>
      </div>
      <div class="profile-container">
        <input type="hidden" id="userid" formControlName="userid">
        <div class="form-control">
          <div class="title">
            <label for="usercode">用戶帳號</label>
          </div>
          <div class="contant">
            <input type="text" id="usercode" disabled="true" formControlName="usercode">
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="userpassword">舊密碼</label></div>
          <div class="contant">
            <input type="password" id="userpassword" formControlName="userpassword">
            <span class="mem-icon-vision" (click)="showPW('userpassword')">
              <ng-container *ngIf="!isShow; else vision">
                <i class="fas fa-eye-slash"></i>
              </ng-container>
              <ng-template #vision>
                <i class="fas fa-eye"></i>
              </ng-template>
            </span>
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="newpw">新密碼</label></div>
          <div class="contant">
            <input type="password" id="newpw" formControlName="newpw">
            <span class="mem-icon-vision" (click)="showPW('newpw')">
              <ng-container *ngIf="!isShow2; else vision">
                <i class="fas fa-eye-slash"></i>
              </ng-container>
              <ng-template #vision>
                <i class="fas fa-eye"></i>
              </ng-template>
            </span>
          </div>
        </div>
        <p>6~16個字，必須英文+數字組合方式的密碼</p>
        <div class="form-control">
          <div class="title"><label for="confirmpw">確認密碼</label></div>
          <div class="contant">
            <input type="password" id="confirmpw">
            <span class="mem-icon-vision" (click)="showPW('confirmpw')">
              <ng-container *ngIf="!isShow3; else vision">
                <i class="fas fa-eye-slash"></i>
              </ng-container>
              <ng-template #vision>
                <i class="fas fa-eye"></i>
              </ng-template>
            </span>
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="username">姓名</label></div>
          <div class="contant">
            <input type="text" id="username" formControlName="username">
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="taxid">身分證字號</label></div>
          <div class="contant">
            <input type="text" id="taxid" disabled="true" formControlName="taxid">
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="email">信箱</label></div>
          <div class="contant">
            <input type="text" id="email" formControlName="email">
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="address">地址</label></div>
          <div class="contant large">
            <input type="text" id="address" formControlName="address">
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="phone">電話</label></div>
          <div class="contant">
            <input type="text" id="phone" formControlName="phone" maxlength="15">
          </div>
        </div>
        <div class="form-control">
          <div class="title"><label for="mobile">手機</label></div>
          <div class="contant">
            <input type="text" id="mobile" formControlName="mobile" maxlength="15">
          </div>
        </div>
        <div class="form-control-center">
          <a (click)="SaveData(memForm.value)">保存</a>
        </div>
      </div>
    </form>
  </div>
</div>
