<div class="register">
  <div class="reg-title">
    <div class="step">
      <ul class="steplist">
        <li>
          <span class="member-icon">
            <i class="fas fa-user-friends"></i>
            選擇會員
          </span>
          <div class="prograss"></div>
        </li>
        <li>
          <span class="member-icon">
            <i class="fas fa-pen-square"></i>
            填寫資料
          </span>
          <div class="prograss"></div>
        </li>
        <li>
          <span class="member-icon">
            <i class="fas fa-envelope"></i>
            驗證信箱
          </span>
          <div class="prograss"></div>
        </li>
        <li class="dis">
          <span class="member-icon">
            <i class="fas fa-check-circle"></i>
            註冊完成
          </span>
          <div class="prograss"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="reg-contain">
    <div class="regform">
      <form [formGroup]="regForm">
        <input type="hidden" id="userid" formControlName="userid">
        <div class="form-control">
          <div class="title"><label for="emailcode">信箱認證代碼</label></div>
          <div class="content">
            <input type="text" id="emailcode" maxlength="5" (keyup)="enableSend($event)" formControlName="emailcode">
            <span class="outline"></span>
          </div>
          <a [class.send]="isActive" (click)="ConfirmData(regForm.value)">確認送出</a>
        </div>
        <p>請輸入認證信內的代碼</p>
      </form>
    </div>
  </div>
</div>
