<div class="contain-nav">
  <div class="w-100">
    <!--LOGO section-->
    <div class="nav_col">
      <div class="app-header__logo">
        <div class="logo-src"></div>
      </div>
    </div>
    <!--Nav section-->
    <div class="nav_col">
      <div class="navlist">
        <!--單一單元-->
        <ul class="nav">
          <li><a routerLink="/home">首頁</a></li>
          <li>
            <a href="#">中國集運</a>
            <ul class="subnav">
              <li class="subitem"><a routerLink="/jp">上海集運</a></li>
              <li class="subitem"><a routerLink="/jp">北京集運</a></li>
              <li class="subitem"><a routerLink="/jp">廣州集運</a></li>
            </ul>
          </li>
          <li>
            <a href="#">日本集運</a>
            <ul class="subnav">
              <li class="subitem"><a routerLink="/jp">東京集運</a></li>
              <li class="subitem"><a routerLink="/jp">大阪集運</a></li>
              <li class="subitem"><a routerLink="/jp">九州集運</a></li>
            </ul>
          </li>
          <li>
            <a href="#">韓國集運</a>
            <ul class="subnav">
              <li class="subitem"><a routerLink="/jp">首爾集運</a></li>
              <li class="subitem"><a routerLink="/jp">釜山集運</a></li>
            </ul>
          </li>
          <ng-container *ngIf="!ismemLogin;else memProfile">
            <li><a routerLink="/login">登入</a></li>
            <li><a routerLink="/register">註冊</a></li>
          </ng-container>
          <ng-template #memProfile>
            <ng-container *ngIf="!ismemcus;else memcusProfile">
              <li><a routerLink="/member/profile">會員管理</a></li>
              <li><a routerLink="/member/declarant">申報人管理</a></li>
              <li><a routerLink="/member/station">集運站</a></li>
              <li><a routerLink="/member/entrust">委託集運</a></li>
              <li><a routerLink="/member/shipping/t1/0">集運單管理</a></li>
            </ng-container>
            <ng-template #memcusProfile>
              <li><a routerLink="/member/profilecus">會員管理</a></li>
              <li><a routerLink="/member/entrustcus">委託集運</a></li>
              <li><a routerLink="/member/shippingcus/t1/0">集運單管理</a></li>
            </ng-template>
            <li><a href="#" (click)="doLogout()">登出</a></li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>
