.logo{
  position: absolute;
  top: 16px;
  left: 50px;
  height: 50px;
  width: 97px;
  background-image: url(/res/assets/util/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.navlist {
  display: inline-block;
  vertical-align: top;
  margin-left: 150px;
}

nav li{
  position: relative;
  float: left;
  left: 125px;
  width: 115px;
  height: 69px;
  list-style: none;
}

nav li a{
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  color: #1C2834;
  font-weight: 600;
  transition: .4s;
}

nav li {
  position: relative;
  left: 0px;
  top: 0;
}

nav li > a:hover {
  color: rgb(63, 79, 95);
}

.subnav li>a:hover {
  color: rgb(245, 246, 247);
  background-color: rgb(98, 177, 158);
}

.subnav {
  display: none;
}

.loginNav{
  position: absolute;
  top: 25px;
  right: 250px;
}

.loginNav a{
  text-align: center;
  margin-right: 5px;
  padding: .675rem 1.5rem;
  color: #2DAF90;
  border: 1px solid #2DAF90;
  border-radius: 100rem;
  transition: .4s;
}

.loginNav a:hover{
  color: #fff;
  background-color: #2DAF90;
}

.loginNav a.non{
  border: 0;
}

.loginNav a.non:hover{
  border: 0;
  color:rgb(59, 136, 118);
  background-color: #fff;
}

.active{
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.memNav{
  position: absolute;
  top: 0px;
  right: 155px;
  display: flex;
}

.btn-entrust{
  padding-top: 25px;
  margin-right: 15px;
  font-weight: 600;
}

.btn-entrust:hover{
  color: rgb(63, 79, 95);
}

.memNav .btn-profile{
  position: relative;
  padding: 0;
  padding-top: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.rounded-circle{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 5px;
}

.icon-arrow{
  width: 0.625em;
  opacity: .8;
  padding-bottom: 15px;
}

.profilelist{
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1.875rem 0 rgba(0,0,0,.1);
}

.profilelist ul > li{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.profilelist .logout{
  text-align: center;
  border-top: 1px solid rgb(227, 232, 238);
}



.profile-icon:hover{
  color: #1C2834;
}

.profile-icon{
  font-size: 14px;
  color: rgb(109, 126, 145);
}

.profilelist {
  display: none;
}

.open{
  display: inline-block;
}
