.sitemap-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 20%;
  padding-right: 20%;
}

.sitemap-header {
  position: relative;
  margin-bottom: 10px;
}

.sitemap-header .icon {
  display: inline-block;
}

.sitemap-header .icon img {
  width: 55px;
  height: 55px;
}

.sitemap-header .title {
  position: absolute;
  top: 15px;
  font-size: 20px;
  font-family: 'Noto Sans TC';
}

.sitemap-header .line {
  display: block;
  width: 85%;
  height: 1px;
  border-bottom: 1px solid #aaa;
  margin-top: 10px;
}

.sitemap-contain {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sitemap-contain dl {
  margin-right: 10px;
  padding: 10px;
}

.sitemap-contain dl dt em {
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #273152;
  padding-right: 5px;
}

.sitemap-contain dl dt {
  background-color: rgb(206, 202, 202);
  padding: 5px 40px 5px 5px;
  font-weight: 600;
}

.sitemap-contain dl dd {
  background-color: #fff;
  padding: 5px 40px 5px 5px;
  text-align: left;
  border-bottom: 1px dashed #aaa;
}

.sitemap-contain dl dd a:hover {
  color: rgb(107, 189, 192);
}
