<div class="register">
  <div class="reg-title">
    <div class="step">
      <ul class="steplist">
        <li>
          <i></i>
          <span class="dis">會員種類</span>
        </li>
        <li>
          <i></i>
          <span>填寫資料</span>
        </li>
        <li>
          <i></i>
          <span class="dis">驗證信箱</span>
        </li>
        <li>
          <i></i>
          <span class="dis">註冊完成</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="reg-contain">
    <div class="regform">
      <form [formGroup]="regForm">
        <div class="form-control">
          <label for="usercode">用戶帳號</label>
          <input type="text" id="usercode" formControlName="usercode">
          <p>英文+數字組合，註冊成功後無法修改</p>
        </div>
        <div class="form-control">
          <label for="userpassword">用戶密碼</label>
          <input type="password" id="userpassword" formControlName="userpassword">
          <p>6~16個字，必須英文+數字組合方式的密碼</p>
        </div>
        <div class="form-control">
          <label for="confirmpw">確認密碼</label>
          <input type="password" id="confirmpw">
        </div>
        <div class="form-control">
          <label for="companyname">公司名稱</label>
          <input type="text" id="companyname" formControlName="companyname">
        </div>
        <div class="form-control">
            <label for="rateid">公司統一編號</label>
            <input type="text" id="rateid" formControlName="rateid">
          </div>
        <div class="form-control">
          <label for="username">聯繫人</label>
          <input type="text" id="username" formControlName="username">
        </div>
        <div class="form-control">
          <label for="email">信箱</label>
          <input type="text" id="email" formControlName="email">
          <p>為確保您能收到各項服務通知信, 建議使用Gmail的信箱</p>
        </div>
        <div class="form-control">
          <label for="address">公司地址</label>
          <input type="text" id="address" formControlName="address">
          <p>請正確填寫, 確保貨品可以正確送達，請輸入全部的地址，如**縣市**鄉鎮區**路等</p>
        </div>
        <div class="form-control">
          <label for="tel">電話</label>
          <input type="text" id="tel" formControlName="tel" maxlength="10">
        </div>
        <div class="form-control">
          <label for="mobile">手機</label>
          <input type="text" id="mobile" formControlName="mobile" maxlength="10">
        </div>
        <div class="form-control">
          <input type="checkbox" id="chkAgree"><label class="chk" for="chkAgree">我已閱讀並同意《<a href="">會員條款</a>》</label>
        </div>
        <div class="form-control">
          <button type="button" (click)="SaveData(regForm.value)">確認送出</button>
        </div>
      </form>
    </div>
  </div>
</div>
