<div class="register">
  <div class="reg-title">
    <div class="step">
      <ul class="steplist">
        <li>
          <i></i>
          <span class="dis">會員種類</span>
        </li>
        <li>
          <i></i>
          <span class="dis">填寫資料</span>
        </li>
        <li>
          <i></i>
          <span class="dis">驗證信箱</span>
        </li>
        <li>
          <i></i>
          <span>註冊完成</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="reg-contain">
    <div class="regform">
      <p>註冊成功！</p>
    </div>
  </div>
</div>
